/* Start Global Style */
body{
    color: #FFF;
    font-size: 22px;
    text-align: center;
    background-color: #FFF;
}

h1,h2,h3,h4,h5,h5,p{
    margin: 0;
    padding: 0;
}

.float-left{
    float:left;
}

.float-right{
    float: right;
}

.clear{
    clear: both;
}
/* End Global Style */


/* Start Hendou Style */
.topBar{
    background: rgb(194, 16, 64);
}

.menuBar{
    background: rgb(55, 120, 169);
}

.slider{
    background: rgb(55, 169, 106);
}
/* End Hendou Style */



/* Start Memine Style */
.causes{
    background: rgb(169, 156, 55);
}

.stories{
    background: rgb(55, 78, 169);
}
/* End Memine Style */



/* Start Ahmed Styles */
 /* Start Projects Styles */

  /* Start Project header styles */

.projects{
    color: #3f3f3f
}


.projects header h2{
    font-weight: bold;
    color: rgb(48, 48, 48);
}

.projects header h2 span{
    color: #d84831;
}

.projects header p{
    color: #8c8c8c;
    font-size: 16px;
    margin-top: 10px;
}
   /* End Project header styles */

   /* Start Project Items Styles */
.projects ul{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-top: 40px;
}

.projects .reset-padding{
    padding-left: 0;
    padding-right: 0;
}

.projects .project-item{
    position: relative;
    height: 400px;
    color: #FFF;
}

.projects .project-item img{
    height: 100%;
    width: 100%;
}

.projects .project-item .overlay{
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    z-index: 9998;
    background: rgba(33, 33, 33, .5)
}

.projects .item-desc{
    position: absolute;
    bottom: 20px;
    z-index: 9999;
}

   /* End Project Items Styles
 /* End Projects Styles */

.events{
    background: rgb(16, 164, 197);
}
/* End Ahmed Style */




/* Start Khaddy Style */

.partners{
    background: rgb(149, 152, 10);
}

.footer{
    background: rgb(150, 180, 187);
}

/* End Khaddy Style */


/* ------------------------------------------------- */

/* Start Minimize Style */

.causes, .stories, .projects, .events, .partners, .footer{
    margin-top: 50px;
}

/* End Minimize style */